# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Виртуальное окружение
venv/
env/
.venv/

# IDE и редакторы
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Системные и временные файлы
.DS_Store
Thumbs.db
*.zip

# Внешние библиотеки
external_libraries/

# Конфигурации и секреты
.env
*.sqlite3
create_db.py

