{% extends "layout.html" %}

{% block title %}О компании{% endblock %}

{% block content %}
<h1>ℹ️ О компании</h1>

<p>Обменник — это современный криптообменник, работающий с 2025 года. Мы предлагаем безопасные, удобные и выгодные
    решения для обмена цифровых активов как в России, так и за её пределами.</p>

<p>На сегодняшний день мы работаем более чем в 5 странах.</p>

<h2>Почему выбирают нас</h2>
<ul>
    <li>Безопасность сделок</li>
    <li>Выгодный курс обмена</li>
    <li>Индивидуальный подход к каждой сделке</li>
    <li>Круглосуточная поддержка</li>
</ul>
{% endblock %}
