{% extends "layout.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<h1>Личный кабинет</h1>
<div class="menu">
    <button class="menu-item yellow" onclick="location.href='/history'">
        История сделок
    </button>

    <button class="menu-item yellow" onclick="location.href='/referral'">
        Реферальная программа
    </button>

    <button class="menu-item yellow"
            onclick="location.href=`/settings?user_id=${tg.initDataUnsafe.user.id}`">
        Настройки
    </button>
</div>

<script src="{{ url_for('static', filename='js/cabinet.js') }}"></script>
{% endblock %}
