{% extends "layout.html" %}

{% block title %}Создание заявки | CryptoExchange{% endblock %}

{% block content %}
<main class="card center">
    <h2>Создайте заявку</h2>

    <!-- Контейнер для ошибок -->
    <div id="form-errors">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="flash-item {{ cat }}">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <form method="post" id="exchangeForm" action="{{ url_for('main.create') }}">
        <label>Страна</label>
        <select name="country" id="country" required>
            <option value="" selected disabled>Выберите страну</option>
            {% for c in countries %}
            <option value="{{ c.name }}" {% if form and form.country== c.name %} selected {% endif %}>{{ c.name }}
            </option>
            {% endfor %}
        </select>

        <label>Отдаёте валюту</label>
        <select name="give_currency" id="give_currency" required>
            <option value="" selected disabled>Выберите валюту</option>
        </select>

        <label>Получаете валюту</label>
        <select name="get_currency" id="get_currency" required>
            <option value="" selected disabled>Выберите валюту</option>
        </select>

        <div id="exchange-section" style="display: none;">
            <label for="give-amount">Отдаёте:</label>
            <input type="number" step="any" id="give-amount" name="give_amount" placeholder="Введите сумму"
                   value="{{ form.give_amount if form else '' }}" required>
            <div id="amount-warning"></div>

            <label for="get-amount">Получаете:</label>
            <input type="number" step="any" id="get-amount" name="get_amount" placeholder="Рассчитается автоматически">

            <p id="rate-info"></p>
        </div>

        <label>Город</label>
        <select name="city" id="city" required>
            <option value="" selected disabled>Выберите город</option>
        </select>

        <label>ФИО</label>
        <input type="text" name="fullname" id="fullname"
               value="{{ form.fullname if form else user.full_name if user else '' }}" required>

        <label>Почта</label>
        <input type="email" name="email" id="email"
               value="{{ form.email if form else user.email if user else '' }}" required>


        <label>Дата и время посещения офиса</label>
        <input type="datetime-local" name="datetime" id="datetime"
               value="{{ form.datetime if form else '' }}" required>
        <div id="datetime-warning"></div>

        <!-- Скрытые данные пользователя -->
        <input type="hidden" name="user_id" value="{{ form.user_id if form else '' }}">
        <input type="hidden" name="first_name" value="{{ form.first_name if form else '' }}">
        <input type="hidden" name="last_name" value="{{ form.last_name if form else '' }}">
        <input type="hidden" name="username" value="{{ form.username if form else '' }}">

        <button type="submit" class="btn">Подтвердить заявку</button>
    </form>
</main>

<div id="notification-container"></div>
{% endblock %}
