<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>

<div class="page">
    <div class="header-bar">
        <div id="nav-control">
            <button class="back-btn" onclick="history.back()">← Назад</button>
        </div>

        <div class="greeting-bar">
            {% if request.path != "/cabinet" %}
            <button class="profile-btn" onclick="location.href='/cabinet'">👤</button>
            {% endif %}
        </div>
    </div>


    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
