{% extends "layout.html" %}


{% block title %}Реферальная программа — Обменник{% endblock %}


{% block content %}
<h1>Партнерская программа</h1>


<p>Обменник приглашает партнёров присоединиться к нашей реферальной программе и получать <strong>10% от чистой
    прибыли</strong> с каждой сделки ваших рефералов.</p>


<h2>Как начать зарабатывать</h2>
<ol>
    <li>Зарегистрируйтесь в системе и получите уникальную реферальную ссылку (регистрация производится в личном кабинете
        либо по ссылке).
    </li>
    <li>Поделитесь ссылкой с клиентами, друзьями или подписчиками.</li>
    <li>Получайте стабильный доход с каждой их сделки.</li>
</ol>


<h2>Преимущества</h2>
<ul>
    <li>Простой старт — без вложений и ограничений</li>
    <li>Прозрачная система начислений</li>
    <li>Ежедневные выплаты</li>
    <li>Поддержка от нашей команды</li>
</ul>
{% endblock %}